<%- include('../layouts/header', { title: category.name }) %>

<h1><%= category.name %></h1>
<p><%= category.description %></p>

<h2>Items in this category:</h2>

<ul>
  <% items.forEach(item => { %>
  <li>
    <a href="/items/<%= item.id %>"><%= item.name %></a> - $<%= item.price %>
  </li>
  <% }) %>
</ul>

<a href="/items/new?category=<%= category.id %>">+ Add Item</a>

<%- include('../layouts/footer') %>
