<!DOCTYPE html>
<html>
  <head>
    <title><%= post.title %></title>
  </head>
  <body>
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
    <p><em>Author: <%= post.author %></em></p>

    <h2>Edit Post</h2>
    <form action="/posts/<%= post.id %>/update" method="POST">
      <input type="text" name="title" value="<%= post.title %>" />
      <textarea name="content"><%= post.content %></textarea>
      <input type="text" name="author" value="<%= post.author %>" />
      <button type="submit">Update</button>
    </form>

    <p><a href="/posts">Back to all posts</a></p>
  </body>
</html>
