<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Message Board</h1>
    <a href="/new">Add New Message</a>
    <ul>
      <% messages.forEach((msg, i) => { %>
      <li>
        <strong><%= msg.user %></strong>: <%= msg.text %> (<%=
        msg.added.toLocaleString() %>)
        <a href="/details/<%= msg.id %>">Open</a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
