<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Users</h1>
    <a href="/create">Create User</a>

    <ul>
      <% users.forEach(user => { %>
      <li>
        <b><%= user.firstName %> <%= user.lastName %></b>
        <% if (user.age) { %> | Age: <%= user.age %> <% } %> <% if (user.bio) {
        %> | Bio: <%= user.bio %> <% } %>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
