<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books</title>
  </head>
  <body>
    <h2>Welcome to Book Collection</h2>
    <p><a href="/form">Add New Book</a></p>

    <% books.forEach((book)=>{%>
    <h3><%= book.title %></h3>
    <span><%= book.author %></span> | <span><%= book.year%></span> |
    <span><a href="/books/edit/<%= book.id%>">edit</a></span> |
    <span><a href="/books/delte/<%= book.id%>">delete</a></span>
    <% }) %>
  </body>
</html>
